*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

/*partie1*/

.part1{
    width: 100%;
    height: 100vh;
    background: url(photo/photo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative;
    min-width: 80px;
    color: white;
    font-size: 25px;
    align-items: center;
    display: flex;
    column-gap: 5px;
   text-decoration: none;
    

    
}
 ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
 ul li a   {
    text-decoration: none;
    text-transform: uppercase;
    color: white;}
.navbar a::after{
    content: "";
    width: 0;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear ;
} 
.navbar a:hover::after{
    width: 100%;
}
.btn{
    padding: 10px 10px;
    background:red;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    text-decoration: none;
}
.btn:hover{
    opacity: 1;
    color:black;
}
.container{
    width: 95%;
    height: 60vh;
    margin: 0 auto ;
    display: grid;
    grid-template-columns:  1fr 1fr;
    padding-top: 150px;
    
    }
.textbox{
  position: relative;
 max-width: 600px;
    }
.textbox h2 {
   color: black;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    }
    .btn2{
        display: inline-block;
        margin-top: 20px;
        margin-left: 70px;
        padding: 8px 20px;
        background:red;
        color: white;
        border-radius: 40px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      
        
    }

.form-container{
position: absolute;
width: 320px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%) scale(1.2);
z-index: 101;
background: white;
padding: 25px;
border-radius: 12px ;
opacity:0 ;
pointer-events: none;
}
.form-container.show{
    opacity:1 ;
    pointer-events: auto;
}

    

.close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 22px;
    opacity: 0.7;
    cursor:pointer;
}
h2{
font-size: 22px;
color: black;
text-align: center;
}
.input-box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height:40px ;
}
.input-box input{
    height: 100%;
    width: 100%;
    border:none ;
    outline: none;
    padding: 0 30px;
    border-bottom: 1.5px solid #aaaaaa;
}
.input-box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input-box .mail{
    left: 0px ;
    color: #707070; ;
    
}
.input-box .lock{
    left: 0px ;
    color: #707070; ;
    
}
.input-box .eye{
right: 0;
color: #707070;
cursor: pointer;

}
.button{
  text-decoration: none;
  display: flex;
  background:red ;
  color: white;
  margin-top: 30px;
  width:30%;
  margin-left: 30%;
  padding: 10px 0 ;
  font-weight: 400;
border-radius: 5px;
}

  


